<% layout('../../layouts/admin/signup.ejs') -%>
<% stylesheet('/plugins/icheck-bootstrap/icheck-bootstrap.min.css') -%>
<% block('title',`<p class="login-box-msg">Register a new membership</p>`) -%>
<form  method="post" action="">
  <div class="input-group mb-3">
    <input type="text" name="name" class="form-control" placeholder="Full name">
    <div class="input-group-append input-group-text">
        <span class="fas fa-user"></span>
    </div>
  </div>
  <p style="color:red; text-transform: capitalize"><%= handlerError('name') %></p>
  <div class="input-group mb-3">
    <input type="text" name="username" class="form-control" placeholder="User name">
    <div class="input-group-append input-group-text">
        <span class="fas fa-user"></span>
    </div>
  </div>
  <p style="color:red; text-transform: capitalize"><%= handlerError('username') %></p>
  <div class="input-group mb-3">
    <input type="email" name="email" class="form-control" placeholder="Email">
    <div class="input-group-append input-group-text">
        <span class="fas fa-envelope"></span>
    </div>
  </div>
  <p style="color:red; text-transform: capitalize"><%= handlerError('email') %></p>
  <div class="input-group mb-3">
    <input type="password" name="password" class="form-control" placeholder="Password">
    <div class="input-group-append input-group-text">
        <span class="fas fa-lock"></span>
    </div>
  </div>
  <p style="color:red; text-transform: capitalize"><%= handlerError('password') %></p>
  <div class="input-group mb-3">
    <input type="password" name="confirmPassword" class="form-control" placeholder="Retype password">
    <div class="input-group-append input-group-text">
        <span class="fas fa-lock"></span>
    </div>
  </div>
  <p style="color:red; text-transform: capitalize"><%= handlerError('confirmPassword') %></p>
  <div class="row">
    <div class="col-8">
      <div class="icheck-primary">
        <input type="checkbox" id="agreeTerms" name="terms" value="agree">
        <label for="agreeTerms">
         I agree to the <a href="#">terms</a>
        </label>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
    </div>
    <!-- /.col -->
  </div>
</form>
<% block('signup',`<a href="register.html" class="text-center">Register a new membership</a>`) -%>